<IfModule mod_rewrite.c>
    RewriteEngine on
    RewriteBase /~kjell/weather
    RewriteRule ^~kjell/weather/index\.html$ -[L]
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule . /~kjell/weather/index.html [L]
</IfModule>