<IfModule mod_rewrite.c>
    RewriteEngine on
    RewriteBase /~kjell/routing
    RewriteRule ^~kjell/routing/index\.html$ -[L]
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule . /~kjell/routing/index.html [L]
</IfModule>